<div class="footer-social-menu">
    <div class="footer-social-icons">
        <a href="http://www.facebook.com/livingabroad"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="http://www.twitter.com/yhzgirl"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://github.com/yhzgirl"><i class="fa fa-github fa-2x"></i></a>
<!--        <a href="https://plus.google.com"><i class="fa fa-google-plus fa-2x"></i></a>-->
        <a href="{{@blog.url}}/feed"><i class="fa fa-rss fa-2x"></i></a>
    </div> 
</div>